--
page_title: "Provider: omglol"
description: |-
  The omg.lol provider provides utilities for working with resources in omg.lol.
---

# {{ .ProviderShortName | upper }} Provider

The omg.lol provider allows resources to be created in omg.lol as part of a Terraform deployment.

Use the navigation to the left to read about the available resources.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
